<main>

  <!-- Sidebar   -->
  <app-sidebar></app-sidebar>

  <!-- Header  -->
  <app-header HeaderName="Payouts"></app-header>


  <!-- Main bar section  -->
  <section class="mainbar mt-20 transition-page-bottom-top">

     <!-- Action buttons  -->
     <div class="flex">
      <button type="button" class="bg-default pt-4 pb-4 pl-7 pr-7 shadow rounded-sm flex">
        <img class="" src="/assets/images/plus-icon.svg" width="20"> <span class="padding-1 ml-2 text-white text-sm font-bold">Create payout</span>
      </button>

    </div>


  </section>

  </main>

