<main>

  <!-- Sidebar   -->
  <app-sidebar></app-sidebar>

  <!-- Header  -->
  <app-header HeaderName="Payouts"></app-header>


  <!-- Main bar section  -->
  <section class="mainbar mt-20 transition-page-bottom-top">

     <!-- Action buttons  -->
     <div class="flex">
      <button type="button" class="bg-default pt-4 pb-4 pl-7 pr-7 shadow rounded-sm flex">
        <img class="" src="/assets/images/plus-icon.svg" width="20"> <span class="padding-1 ml-2 text-white text-sm font-bold">Create group</span>
      </button>

    </div>


    <!-- Payout Group  -->
    <table class="min-w-full bg-white mt-7">

      <!-- Loop through payout group  -->
      <tbody *ngFor="let groupList of payoutGroupList.groupList; let index = index">

        <!-- Rows -->
        <tr class="border-b border-gray-100 cursor-pointer">
          <td class="py-5 whitespace-no-wrap">
            <img class="" src="{{groupList.src}}" width="45">
          </td>
          <td class="px-6 py-5 whitespace-no-wrap font-bold">
            {{groupList.name}}
          </td>
          <td class="px-6 py-5 whitespace-no-wrap text-gray-500">
            {{groupList.members}} members
          </td>
          <td class="px-6 py-5 whitespace-no-wrap text-gray-500">
            Last Active:   {{groupList.lastActive}}
          </td>
          <td class="py-5 whitespace-no-wrap flex">
            <img class="mt-4 float-right" src="/assets/images/edit-payout.svg" width="17">
            <img class="mt-4 ml-3 " src="/assets/images/delete-payout.svg" width="17">
          </td>
        </tr>

      </tbody>

    </table>

  </section>

<!-- Overlays  -->
  <section>
    <div class="addsubaccount-overlay w-full pl-3 pr-3" v-if="showCreatePayoutOverlay">

    </div>
  </section>
  </main>

