<main>

  <!-- Sidebar   -->
  <app-sidebar></app-sidebar>

  <!-- Header  -->
  <app-header HeaderName="Payouts"></app-header>


  <!-- Main bar section  -->
  <section class="mainbar mt-20 transition-page-bottom-top">

     <!-- Action buttons  -->
     <div class="flex">
      <button type="button" class="bg-default pt-4 pb-4 pl-7 pr-7 shadow rounded-sm flex" (click)="[overlay = true, showCreatePayoutOverlay = true]">
        <img class="" src="/assets/images/plus-icon.svg" width="20"> <span class="padding-1 ml-2 text-white text-sm font-bold">Create group</span>
      </button>

    </div>


    <!-- Payout Group  -->
    <table class="min-w-full bg-white mt-7">

      <!-- Loop through payout group  -->
      <tbody *ngFor="let groupList of payoutGroupList.groupList; let index = index">

        <!-- Rows -->
        <tr class="border-b border-gray-100 cursor-pointer">
          <td class="py-5 whitespace-no-wrap">
            <img class="" src="{{groupList.src}}" width="45">
          </td>
          <td class="px-6 py-5 whitespace-no-wrap font-bold">
            {{groupList.name}}
          </td>
          <td class="px-6 py-5 whitespace-no-wrap text-gray-500">
            {{groupList.members}} members
          </td>
          <td class="px-6 py-5 whitespace-no-wrap text-gray-500">
            Last Active:   {{groupList.lastActive}}
          </td>
          <td class="py-5 whitespace-no-wrap flex">
            <img class="mt-4 float-right" src="/assets/images/edit-payout.svg" width="17">
            <img class="mt-4 ml-3 " src="/assets/images/delete-payout.svg" width="17">
          </td>
        </tr>

      </tbody>

    </table>

  </section>

<!-- Overlays  -->
  <section>

     <!-- Overlays  -->
     <div class="overlay" *ngIf="overlay" (click)="[overlay = false, showCreatePayoutOverlay = false]">
    </div>


    <!-- Create layout overlay  -->
    <div class="createpayout-overlay w-full px-10 py-7 bg-white rounded-sm" *ngIf="showCreatePayoutOverlay">

      <h4 class="text-lg font-bold">Create payout group</h4>

        <!-- List name  -->
        <div class="mt-7">
          <label class="font-bold mt-3 text-sm">List name</label>
          <input type="text" name="listName" placeholder="Enter list name"
            class="mt-3 form-control w-full pl-6 rounded-md border border-gray-300
                    focus:outline-none focus:border-default
                    focus:ring-default
                    focus:ring-0.5
                    focus:border-300
                    transition duration-0 hover:duration-150
              ">
          </div>


          <!-- File input  -->
          <div class="mt-7">
            <label class="font-bold mt-3 text-sm">Select file</label>

            <div class="relative">
              <label for="dropzone-file" class="flex flex-col mt-3 form-control w-full pl-6 rounded-md border border-gray-300
                focus:outline-none focus:border-default
                focus:ring-default
                focus:ring-0.5
                focus:border-300
                transition duration-0 hover:duration-150">
                <p class="mt-5 text-sm text-gray-400">Click to upload file</p>
                <input id="dropzone-file" type="file" class="hidden" />
              </label>

              <div class="absolute inset-y-2 right-0 pr-3 cursor-pointer flex items-center text-sm leading-5">
                <img class="mr-3" src="/assets/images/select-file.svg" width="17">
              </div>

              </div>

            </div>


            <!-- Select scheldule  -->
            <div class="mt-7">
              <label for="countries" class="font-bold mt-3 text-sm">Schedule</label>
              <div class="relative">
                <select id="countries" class="webkit-appearance-none mt-3 form-control w-full pl-6 pr-6 rounded-md border border-gray-300
                    focus:outline-none focus:border-default
                    focus:ring-default
                    focus:ring-0.5
                    focus:border-300
                    transition duration-0 hover:duration-150">
                  <option value="monthly" selected>Monthly</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="yearly">Yearly</option>
                </select>

                <div class="absolute inset-y-2 right-0 pr-3 pt-1 cursor-pointer flex items-center text-sm leading-5">
                  <img class="float-left mr-2 mt-3" src="/assets/images/payout-caret-icon.svg">
              </div>
              </div>

            </div>



    </div>


  </section>
  </main>

