<aside class="sidebar">

  <!-- Name logo  -->
  <img class="ml-10" src="/assets/images/name-logo.svg" width="120">


  <ul class="mt-10">

    <!-- Dashboard Link -->
    <li class="p-5 pl-10 font-bold cursor-pointer bg-gray-100 flex">
      <img class="" src="/assets/images/home-icon.svg" width="20"> <span class="mt-1 ml-5">Dashboard</span>
    </li>

    <!-- Payout link  -->
    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/payouts-icon.svg" width="20"> <span class="mt-1 ml-5">Payouts</span>
    </li>


    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/transactions-icon.svg" width="20"> <span class="mt-1 ml-5">Transactions</span>
    </li>


    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/wallets-icon.svg" width="20"> <span class="mt-1 ml-5">Wallet</span>
    </li>


    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/settings-icon.svg" width="20"> <span class="mt-1 ml-5">Settings</span>
    </li>
  </ul>


</aside>
