<aside class="sidebar">

  <!-- Name logo  -->
  <img class="ml-10 mt-3" src="/assets/images/name-logo.svg" width="120" >


  <ul class="mt-10">

    <!-- Dashboard Link -->
    <a routerLink="/home" >
      <li class="p-5 pl-10 font-bold cursor-pointer flex" routerLinkActive="bg-gray-100">
        <img class="" src="/assets/images/home-icon.svg" width="20"> <span class="mt-1 ml-5">Dashboard</span>
      </li>
    </a>

    <!-- Payout link  -->
    <a routerLink="/payouts" class="">
      <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex" routerLinkActive="bg-gray-100">
        <img class="" src="/assets/images/payouts-icon.svg" width="20"> <span class="mt-1 ml-5">Payouts</span>
      </li>
    </a>


    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/transactions-icon.svg" width="20"> <span class="mt-1 ml-5">Transactions</span>
    </li>


    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/wallets-icon.svg" width="20"> <span class="mt-1 ml-5">Wallet</span>
    </li>


    <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
      <img class="" src="/assets/images/settings-icon.svg" width="20"> <span class="mt-1 ml-5">Settings</span>
    </li>
  </ul>

  <li class="p-5 pl-10 font-bold text-gray-700 cursor-pointer flex">
    <button (click)="logoutUser()" type="button" class="border border-red-500 mr-5 flex pt-3 pb-3 pl-5 pr-5 rounded-sm font-bold text-red-500">
      Logout
    </button>
  </li>


</aside>
