<main>
  <div class="form-box mx-auto transition-in-bottom-top">
    <h1 class="center text-3xl font-bold">Welcome to Zepayroll</h1>
    <p class="center mt-4">Login to get access to your account</p>

    <!-- Login form  -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email  -->
      <div class="mt-10">
        <label class="font-bold mt-3">Email</label>
        <input type="email" formControlName="email" placeholder="Enter email address"
           class="mt-3 form-control w-full pl-6 rounded-md border shadow-sm border-gray-300
                  focus:outline-none focus:border-default
                  focus:ring-default
                  focus:ring-0.5
                  focus:border-300
                  transition duration-0 hover:duration-150
            ">
        </div>
      <br>

      <!-- Password  -->
     <div class="mt-2">
      <label class="font-bold mt-3">Password</label>
      <input type="email" formControlName="email" placeholder="Enter you password"
         class="mt-3 form-control w-full pl-6 rounded-md border shadow-sm border-gray-300
                focus:outline-none focus:border-default
                focus:ring-default
                focus:ring-0.5
                focus:border-300
                transition duration-0 hover:duration-150
          ">
      </div>

      <p class="mt-5 text-gray-400 cursor-pointer">Forgot password?</p>

        <br>
        <button type="submit" [disabled]="loginForm.invalid"
        class="inline-flex items-center font-weight-medium w-full place-content-center mt-6 form-auth-btn text-lg bg-default text-white"
        >Login</button>
    </form>

  </div>
</main>
