<main>

  <!-- Sidebar   -->
  <app-sidebar></app-sidebar>

  <!-- Header  -->
  <app-header HeaderName="Payouts" SubHeaderName="Main Staff"></app-header>


  <!-- Main bar  -->
  <section class="mainbar mt-20 transition-page-bottom-top">

    <!-- Action buttons  -->
    <div class="clearfix">
      <div class="flex float-left">
          <button type="button" class="bg-default pt-4 pb-4 pl-7 pr-7 shadow rounded-sm flex">
            <img class="" src="/assets/images/payout-logo.svg" width="20"> <span class="padding-1 ml-2 text-white text-sm font-bold">Trigger payout</span>
          </button>

          <button type="button" class="border pt-4 pb-4 pl-7 pr-7 rounded-sm flex ml-5">
            <img class="" src="/assets/images/plus-dark.svg" width="20"> <span class="padding-1 ml-2 text-sm font-bold">Add to List</span>
          </button>
      </div>

      <div class="float-right flex">
        <img class="mr-2" src="/assets/images/clock.svg" width="25">
        <img class="mr-5" src="/assets/images/in-progress.svg" width="100">
        <!-- <span class="bg-teal-100 px-3 text-default font-bold rounded-sm">In progress</span> -->
        <button type="button" class="mr-5 flex border border-gray-300 pt-3 pb-3 pl-5 pr-5 rounded-sm text-sm font-bold">
          <img class="mr-3" src="/assets/images/cog.svg" width="15">
          Settings
        </button>
      </div>


    </div>


    <!-- Transactions  -->
    <div class="mt-14 mb-10">

    <div class="clearfix">
        <p class="float-left text-gray-500"> {{payoutId}} members</p>
        <p class="float-right"> <span class="text-gray-500">Total amount </span>    &nbsp;&nbsp; &#x2022; &nbsp;&nbsp;   23,440,456 members</p>
    </div>

     <!-- List  -->
      <div class="container mx-auto shadow-sm border mt-7">
        <table class="min-w-full bg-white">
          <thead>
            <tr class="border-b">
              <th class="px-6 py-5 text-left tracking-wider text-sm">
                Name
              </th>
              <th class="px-6 py-5 text-left tracking-wider text-sm">
                Amount
              </th>
              <th class="px-6 py-5 text-left tracking-wider text-sm">
                Bank
              </th>
              <th class="px-6 py-5 text-left tracking-wider text-sm">
                Account Number
              </th>
              <th class="px-6 py-5 text-left tracking-wider text-sm">
                Date
              </th>
            </tr>
          </thead>

          <!-- Loop through the transaction list -->
          <tbody *ngFor="let productDetailList of payoutDetailList$ | async; let index = index">

            <!-- Row 1 -->
            <tr class="border-b">
              <td class="px-6 py-5 whitespace-no-wrap text-sm text-gray-500">
                {{productDetailList.name}}
              </td>
              <td class="px-6 py-5 whitespace-no-wrap text-sm text-gray-500">
                #{{productDetailList.amount}}
              </td>
              <td class="px-6 py-5 whitespace-no-wrap text-sm text-gray-500">
                {{productDetailList.bank}}
              </td>
              <td class="px-6 py-5 whitespace-no-wrap text-sm text-gray-500">
                {{productDetailList.accountNumber}}
              </td>
              <td class="px-6 py-5 whitespace-no-wrap">

                <!-- if the transaction state is pending  -->
                <span *ngIf="productDetailList.state=='PENDING'" class="bg-gray-100 py-1 px-3 text-gray-500 font-bold rounded-sm text-sm">Pending</span>

                 <!-- if the transaction state is paid  -->
                <span *ngIf="productDetailList.state=='PAID'" class="bg-teal-100 py-1 px-3 text-default font-bold rounded-sm text-sm">Paid</span>
              </td>
            </tr>

          </tbody>

        </table>
      </div>

     </div>



  </section>

</main>
